@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;  /* Black text color */
  --background-start-rgb:Yellow;  /* Bright Yellow background */
  --background-end-rgb:Yellow;  /* Consistent Yellow across the gradient */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;  /* White text color for dark mode */
    --background-start-rgb:Yellow;
    --background-end-rgb:Yellow;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to bottom, yellow, yellow);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
@layer base {
  h1 {
    @apply text-4xl font-bold text-gray-800; /* Larger and bold */
  }
  h2 {
    @apply text-3xl font-semibold text-gray-700; /* Slightly smaller, still bold */
  }
  h3 {
    @apply text-2xl font-medium text-gray-600; /* Medium size and weight */
  }
  h4 {
    @apply text-xl font-normal text-gray-600; /* Normal weight */
  }
  h5 {
    @apply text-lg font-light text-gray-500; /* Lighter weight */
  }
}

/* components/Header/styles.css */

.header {
  background-color: yellow;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  height: 96px; /* 24 * 4 */
  display: none;
}
.active:hover,.active {
  color: #fcae04;
}

@media (min-width: 768px) {
  .header {
      display: flex;
  }
}

.nav-link {
  position: relative;
  z-index: 0;
}
.nav-link:hover {
  color: #fcae04;

}

.nav-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -4px;
  right: -4px;
  display: block;
  height: 2px;
}

.active .nav-link::before {
  background-color: #fcae04;
}

.nav-link:hover::before {
  background-color: #fcae04;

}

.social-icon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 8px;
  transition: all 0.2s ease;
}

.social-icon:hover {
  box-shadow: 0 2px 6px rgba(255, 220, 65, 0.2);
  transform: translateY(-2px);
  background-color: #fcae04;
}
